# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Environment variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Databases
*.sqlite3
*.db

# Docker
.docker/
